#!/bin/bash

# mv, rm, cp
alias mv='mv -v'
# alias rm='rm -i -v'
alias rm='bunx rimraf'
alias cp='cp -v'

alias cx='chmod -x'
alias py='python3'
alias pe='pipenv'
alias pi='pip install'

alias cask='brew cask' # i <3 u cask
alias where=which      # sometimes i forget
alias brwe=brew        #typos
alias brewi='brew install'
alias brewu='brew update && brew upgrade && brew cleanup'
alias ping='prettyping'
alias h='history'

alias hosts='sudo nvim /etc/hosts'

alias ag='ag -f --hidden'

###
# time to upgrade `ls`

alias ls="eza --icons --group-directories-first"

# brew install coreutils
# use coreutils `ls` if possible…
hash gls >/dev/null 2>&1 || alias gls="ls"

# always use color, even when piping (to awk,grep,etc)
if gls --color >/dev/null 2>&1; then colorflag="--color"; else colorflag="-G"; fi
export CLICOLOR_FORCE=1

# ls options: A = include hidden (but not . or ..), F = put `/` after folders, h = byte unit suffixes
alias gls='gls -AFh ${colorflag} --group-directories-first'
alias lsd='ls -l | grep "^d"' # only directories
#    `la` defined in .functions
### ------------ end of ls updates ------------------------

# Networking. IP address, dig, DNS
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
# alias dig="dig +nocmd any +multiline +noall +answer"
# wget sucks with certificates. Let's keep it simple.
alias wget="curl -O"

# Recursively delete `.DS_Store` files
alias cleanup_dsstore="find . -name '*.DS_Store' -type f -ls -delete"

alias diskspace_report="df -P -kHl"
alias free_diskspace_report="diskspace_report"

# Shortcuts
alias ungz="gunzip -k"
alias c=bat
alias x=bunx

# File size
alias fs="stat -f \"%z bytes\""

# Empty the Trash on all mounted volumes and the main HDD. then clear the useless sleepimage

alias dev="bun run dev"
alias build="bun run build"
alias b=build
alias i="npm install"
alias ib="bun run install"
alias t="npm run test"

alias flush='sudo service networking restart'

# git root
alias gr='[ ! -z `git rev-parse --show-cdup` ] && cd `git rev-parse --show-cdup || pwd`'

# Kubernetes shortcuts
alias kns='kubens'

alias wget="curl -O"
alias codi="code-insiders"
# alias lz="NVIM_APPNAME=LazyVim nvim"
# alias lz="nvim ." # this is now a function lz in .functions
alias lzd="lazydocker"
alias lzg="lazygit"
alias lzn="lazynpm"
alias foo="pbpaste | nvim -"
alias play="ansible-playbook"

# AWS
alias axx="aws secretsmanager"
alias axxshow="aws secretsmanager get-secret-value --secret-id $1"
alias axxindex="aws list-secrets | jless"
alias kitty-icon="yes | rm /var/folders/*/*/*/com.apple.dock.iconcache && killall Dock"
