[alias]
	co = checkout
	st = status
	pr = pull --rebase
	ld = log --graph --decorate --pretty=format:'%Cred%h%Creset - %Cgreen(%cr)%Creset %s%C(yellow)%d%Creset' --abbrev-commit --date=iso
	big = bisect good
	bib = bisect bad
	cp = cherry-pick
	ci = commit
	mt = mergetool
	last = diff --name-only HEAD
	sw = switch

[delta]
	light = false
	line-numbers = true
	line-numbers-left-format = ""
	line-numbers-right-format = "{np:>4} │ "
	hunk-header-style = file syntax
	hunk-header-decoration-style = yellow ul
	file-style = omit

[diff]
	tool = nvimdiff
	colorMoved = default

[difftool "nvimdiff"]
	cmd = nvim -d \"$LOCAL\" \"$REMOTE\" -c \"wincmd w\" -c \"wincmd L\"

[merge]
	tool = nvimdiff4
	conflictstyle = zdiff3

[mergetool "nvimdiff4"]
	trustExitCode = true
	cmd = nvim -d \"$LOCAL\" \"$BASE\" \"$REMOTE\" \"$MERGED\" -c \"wincmd w\" -c \"wincmd J\"

[push]
	default = current
	followTags = true
	autoSetupRemote = true

[core]
	editor = nvim
	pager = delta
	ignorecase = false

[interactive]
	diffFilter = delta --color-only

[diff "lockb"]
	textconv = bun
	binary = true

[init]
	defaultBranch = main

[pull]
	rebase = true

# Machine-specific overrides (user.name/email, work-only tweaks, etc.).
# Git silently skips this section if the file doesn't exist.
[include]
	path = ~/.gitconfig.local
