[include]
    path = ./delta-themes.gitconfig

[alias]
	co = checkout
	st = status
	pr = pull --rebase
	ld = log --graph --decorate --pretty=format:'%Cred%h%Creset - %Cgreen(%cr)%Creset %s%C(yellow)%d%Creset' --abbrev-commit --date=iso
	big = bisect good
	bib = bisect bad
	cp = cherry-pick
	ci = commit
	mt = mergetool
    last = diff --name-only HEAD

[delta]
    navigate = true    # use n and N to move between diff sections
    light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
    side-by-side = true
	line-numbers = true
    true-color = always
    hyperlinks = true
    hyperlinks-file-link-format = "vscode://file/{path}:{line}"
    features = "mantis-shrimp"

[diff]
	tool = nvimdiff
	colorMoved = default

[difftool "nvimdiff"]
	cmd = NVIM_APPNAME=LazyVim nvim -d \"$LOCAL\" \"$REMOTE\" -c \"wincmd w\" -c \"wincmd L\"

[merge]
	tool = nvimdiff4
	conflictstyle = diff3

[mergetool "nvimdiff4"]
	trustExitCode = true
	cmd = nvim -d \"$LOCAL\" \"$BASE\" \"$REMOTE\" \"$MERGED\" -c \"wincmd w\" -c \"wincmd J\"

[push]
	default = simple
	followTags = true

[core]
	editor = nvim
	pager = delta
	hooksPath = ~/.git-hooks
    
[interactive]
    diffFilter = delta --color-only

[user]
	name = Alex Lopez
	email = lex.2418@gmail.com
